{% extends 'base.html.twig' %}

{% block body %}

    <h1>Consultation des Etats</h1>

    <div class="tableEtat">
        <table>
            <th>Nom état</th>
            <th>Description état</th>

            {% if app.user.id is defined %}
                {% for role in app.user.roles %}
                    {% if role == "ROLE_ADMIN" %}
                        
                        <th>Suppression</th>

                    {% endif %}
                {% endfor %}
            {% endif %}

            {% for unEtat in etats %}

                <tr>
                    <td>{{ unEtat.nomEtat }}</td>
                    <td>{{ unEtat.descriptionEtat }}

                    {% if app.user.id is defined %}
                        {% for role in app.user.roles %}
                            {% if role == "ROLE_ADMIN" %}
                                
                                <td>
                                    <div class="btnAjouter">
                                        <a href="{{ path('etatDelete', {'id':unEtat.id}) }}">
                                            <input type="submit" value="Supprimer">
                                        </a>
                                    </div>
                                </td>

                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>

            {% endfor %}

        </table>
    </div>

    {% if app.user.id is defined %}
            {% for role in app.user.roles %}
                {% if role == "ROLE_ADMIN" %}
                    <a href="{{ path('AjoutEtat') }}">
                        <div class="btnAjouter">
                            <input type="submit" value="Ajouter">
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}

{% endblock %}