{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block section %} <div class = "titre">Bienvenue chez ScrumGame</div> {% endblock %}

{% block body %}

<link href="assets/style.css" rel="stylesheet">

<h1>LISTE DE JEUX</h1>

{% if app.user.id is defined %}
    {% for role in app.user.roles %}
        {% if role == "ROLE_ADMIN" %}
            <div class="buttonJeuxAjout">
                <form action="{{ path('AjoutJeux') }}">
                    <button type="submit">Ajout d'un jeu</button>
                </form>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}


{% set compteur = 0 %}

<div class="searchbar">
    <input id="searchbar" onchange="search_jeux()" type="text" name="search" placeholder="Rechercher">
</div>

<table>
    {% for unJeu in Jeux %}
        {% set compteur = compteur + 1 %}
        {% if compteur % 4 == 0 %}
            <tr></tr>
        {% set compteur = 1 %}
        {% endif %}

            <td>
                <article class="card">
                    <div class="card__thumb">
                        <img src={{unJeu.photoJeu}}>
                    </div>
                    <div class="card__body">
                        <h2 class="card__title"><a>{{unJeu.nomJeu}}</a></h2>
                    </div>

                </article>

                {% if app.user.id is defined %}
                    {% for role in app.user.roles %}
                        {% if role == "ROLE_ADMIN" %}
                            <div class="buttonJeuxDelete">
                                <td>
                                    <form action="{{ path('JeuxDelete', {'id':unJeu.id}) }}">
                                        <button type="submit">Suppression</button>
                                    </form>
                                </td>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </td>
        
    {% endfor %}
</table>


{% endblock %}
